/* FONTS */
@font-face{
    font-family: 'NHaasGrotesk-Roman';
    src: url('fonts/NHaasGrotesk-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;   
}
@font-face{
    font-family: 'NHaasGrotesk-Medium';
    src: url('fonts/NHaas-Grotesk-Text-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'NHaasGrotesk-Italic';
    src: url('fonts/NHaas-Grotesk-Text-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





body{
    margin: 0;
    font-family:'NHaasGrotesk-Roman';
    font-size: 2.8vh;
    cursor: url('images/mouse.png'), auto!important;	
    
}
a{
    text-decoration: none;
    color: black;
    cursor: url('images/mouse.png'), auto;	
}
a:hover{
    text-decoration: underline;
    color: black;
    cursor: url('images/mouse.png'), auto;	
}



#container, #containerT, #containerA, #containerZ, #containerI{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: fixed;
}
#container{
    background-image:linear-gradient( rgba(250, 250, 250, 1), #facb21);
}
#containerT{
    background-image:linear-gradient( rgba(250, 250, 250, 1), #29a74b);
}
#containerA{
    background-image:linear-gradient( rgba(250, 250, 250, 1), #c23333);
}
#containerZ{
    background-image:linear-gradient( rgba(250, 250, 250, 1), #3e54a0);
}
#containerI{
    background-color: #cfcfcf;
}

#chatroom{
	position: absolute;
    width: 33vw;
    height: 70.2vh;
	right: 2vw;
	top: 13vh;
	border: 0
}

#banner{
    width: 100vw;
    height: 4vh;
    background-color: #ad64ff;
    top: 0;
    position: fixed;
}

#center{
    width: 100vw;
    height: 91vh;
    margin-top: 0vh;
    background-image: url(images/teiabg.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center2{
    width: 100vw;
    height: 97vh;
    margin-top: 0vh;
    background-image: url(images/teiabg.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    text-align: center;
    
}
#menu_buttons{
    width: 100vw;
    height: 5vh;
    background-color: #ffffff;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    cursor: url('images/mouse.png'), auto;	
    font-size: 2.2vh;
    z-index: 100;
}


.menu_logo{
    width: 5%;
/*    border-style: solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('images/mouse.png'), auto;	
}
.logo{
    
    height: 4vh;
    mix-blend-mode: multiply;
}
.menu_buttons{
    width: 23.75%;
/*    border-style: solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('images/mouse.png'), auto;	
}
.menu_buttons:hover{
    text-decoration: underline;
    color: black;
}
#paranho1, #paranho2{
    position: fixed;
    top: 4vh;
    opacity: 0.7;
    display: block;
    transition: 1s;
    mix-blend-mode: multiply;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#paranho1{
	top: 0;
    left: 0;
    width: 9vw;
}
#paranho2{
	top: 0;
    right: 0;
    width: 7vw;
}
#paranho1:hover, #paranho2:hover{
    opacity: 0;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
}
#img_teia, #img_transmissao, #img_arquivo, #img_zine, #img_sobre{
    position: absolute;
/*    box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.1);*/
}
#img_teia{
    width: 35vw;
    z-index: 10;
    -ms-transform: skewX(40deg) rotate(-5deg);
    transform: skewX(40deg) rotate(-5deg);
    box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.1);
}
#img_transmissao{
    width: 25vw;
    z-index: 9;
    left: 18vw;
    top: 25vh;
    -ms-transform: skewX(-15deg) rotate(-15deg);
    transform: skewX(-15deg) rotate(-15deg);
}
#img_arquivo{
    width: 30vw;
    z-index: 8;
    left: 42vw;
    top: 20vh;
    -ms-transform: skewX(-20deg) rotate(5deg);
    transform: skewX(-20deg) rotate(5deg);
}
#img_zine{
    width: 30vw;
    z-index: 7;
    left: 32vw;
    top: 38vh;
    -ms-transform: skewX(-20deg) rotate(5deg);
    transform: skewX(-20deg) rotate(5deg);
}

#img_sobre{
    width: 25vw;
    z-index: 6;
    left: 58vw;
    top: 42vh;
    -ms-transform: skewX(15deg) rotate(15deg);
    transform: skewX(15deg) rotate(15deg);
}
/*
#container3{
    width: 99vw;
    height: 89vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    background-color: rgba(113, 113, 113, 0.33);
    display: flex;
    margin-top: 4vh;
}
*/
#issue_image{
    width: 20vw;
    height: 0vh;
    padding-bottom: 20%;
    margin-right: 0vw;
    margin-left: 2.5vw;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    -ms-transform: skewX(-3deg) rotate(5deg);
    transform: skewX(-3deg) rotate(5deg);
}
.archive_list{
    margin-bottom: 0;
}
#archive{
    height: 90px;
    width: 100vw;
    display: flex;
    align-items: flex-end;
}
.image_issue{
    height: 100%;
}
.archive_mixcloud{
    mix-blend-mode: multiply;
    cursor: url('images/mouse.png'), auto;
    transform: translate3d(0,0,0);
}
#zine_images{
}
#zine_img1{
    position: relative;
    
    height: 80vh;
    margin-bottom: 0;
}

.zine_text{
    width: 50vw;
    margin-bottom: 10vh;
}
.zine_text p{
    margin-top: 8vh;
}
.teia_text{
    width: 55vw;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.hyperlinks{
    color: black;
    text-decoration: none;
    cursor: url('images/mouse.png'), auto;	
}

.hyperlinks:hover{
    color: black;
    text-decoration: underline;
}



/*---------------mobile----------------*/
@media only screen and (max-width: 1000px)   {
    body{
        background-color: #ad64ff;
        font-size: 2.5vh;
    
    }
    
    #container{
/*        background-image:linear-gradient( rgba(250, 250, 250, 1), #8d21fa);*/
    }
    
    
    #menu_buttons{	
        font-size: 2vh;
        padding-right: 3vw;
    }
    .menu_logo{
        margin-left: 3vw;
    }
    .menu_buttons{
/*        display:none;*/
    }
    #paranho1{
        width: 20vw;
    }
    #paranho2{
        width: 15vw;
    }   
    #img_teia{
        width: 50vw;
        z-index: 10;
    }
    #img_transmissao{
        width: 35vw;
        left: 25vw;
        top: 19vh;
        z-index: 6;
    }
#img_arquivo{
    width: 55vw;
    left: 31vw;
    top: 30vh;
    z-index: 8;
}
#img_zine{
    width: 55vw;
    left: 23vw;
    top: 45vh;
}

#img_sobre{
    width: 50vw;
    left: 30vw;
    top: 57vh;
}
    .archive_list{
    margin-bottom: 10vh;
}
    #archive{
    height: 10vh;
}
    .zine_text{
        width: 90vw;
    }
    #zine_img1{
        width: 90vw;
        height: auto;
    }
    .teia_text{
        width: 90vw;
    
    }
}
/*---------------mobile----------------*/
@media only screen and (max-width: 800px)   {
    #container{
/*        background-image:linear-gradient( rgba(250, 250, 250, 1), #21fa4b);*/
    }
    
}