@font-face{
    font-family: 'NHaasGrotesk-Roman';
    src: url('fonts/NHaasGrotesk-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;   
}


* {
    margin: 0;
    padding: 0;
  }
   
  body {
    font-family:'NHaasGrotesk-Roman';
    background-image:linear-gradient( rgba(250, 250, 250, 1), #29a74b);
      height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
      cursor: url('images/mouse.png'), auto;	
  }

   
  form {
    padding: 2.5vh 1.5%;
      height: 4vh;
    display: flex;
    gap: 1vw;
    justify-content: center;
  }
   
  form label {
    font-size: 1.5rem;
      cursor: url('images/mouse.png'), auto;	
  }
   
  input {
    font-family:'NHaasGrotesk-Roman';
      cursor: url('images/mouse.png'), auto;	
  }
   
  a {
    color: #000000;
    text-decoration: none;
      cursor: url('images/mouse.png'), auto;	
  }
   
  a:hover {
    text-decoration: underline;
      cursor: url('images/mouse.png'), auto;	
  }
   

/*---------------mobile----------------*/
@media only screen and (max-width: 1000px)   {

    #loginform {
        width: 90vw;
    }
    #wrapper {
        height: 75vh;
        margin-top: -10vh;
    }
    form {
        padding: 1vh 1.5%;
        
    }
    #chatbox{
        height: 62vh;
    }
}