@font-face{
    font-family: 'NHaasGrotesk-Roman';
    src: url('fonts/NHaasGrotesk-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;   
}


* {
    margin: 0;
    padding: 0;
  }
   
  body {
    font-family:'NHaasGrotesk-Roman';
    background-image:linear-gradient( rgba(250, 250, 250, 1), #29a74b);
      height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
      cursor: url('images/mouse.png'), auto;	
  }

   
  form {
    padding: 2.5vh 1.5%;
      height: 4vh;
    display: flex;
    gap: 1vw;
    justify-content: center;
  }
   
  form label {
    font-size: 1.5rem;
      cursor: url('images/mouse.png'), auto;	
  }
   
  input {
    font-family:'NHaasGrotesk-Roman';
      cursor: url('images/mouse.png'), auto;	
  }
   
  a {
    color: #000000;
    text-decoration: none;
      cursor: url('images/mouse.png'), auto;	
  }
   
  a:hover {
    text-decoration: underline;
      cursor: url('images/mouse.png'), auto;	
  }
   
  #wrapper,
  #loginform {
    margin: 0 auto;
    width: 75vw;
    height: 85vh;
    max-width: 100%;
    border: 1.5px solid #000000;
  }
   
  #loginform {
    padding-top: 2.5vh;
       padding-bottom: 2vh;
    text-align: center;
      height: 25vh;
      width: 50vw;
  }
   
  #loginform p {
    padding: 2vh 3vw;
    font-size: 1.4rem;
    font-weight: bold;
  }
   
  #chatbox {
    text-align: left;
    margin: 0 auto;
    height: 69vh;
    width: 97%;
    border: 1.5px solid #000000;
    overflow: auto;
  }
   
  #usermsg {
      background-color: rgba(0, 255, 255, 0);
    flex: 1;
    border: 1.5px solid #000000;
  }
   
  #name {
      background-color: rgba(0, 255, 255, 0);
    border: 1.5px solid #000000;
    padding: 2px 8px;	
  }
   
  #submitmsg,
  #enter{
    background: rgba(255, 152, 0, 0);
    border: 1.5px solid #000000;
    padding: 4px 10px;
  }
   
  .error {
    color: #ff0000;
      position: absolute;
      top: 6vh;
  }
   
  #menu {
      height: 2vh;
    padding: 2.5vh 1.5%;
    display: flex;
  }
   
  #menu p.welcome {
    flex: 1;
  }
   
  a#exit {
  }

a#exit:hover {
    text-decoration: underline;
    color: black;
  }

  .msgln {
    margin: 0 8px 5px 8px;
  }
   
  .msgln span.left-info {
    color: orangered;
  }
   
  .msgln span.chat-time {
    color: rgba(0, 0, 0, 0.72);
    font-size: 60%;
    vertical-align: super;
  }
   
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.57);
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
   
  .msgln b.user-name-left {
    background: orangered;
  }

/*---------------mobile----------------*/
@media only screen and (max-width: 1000px)   {

    #loginform {
        width: 90vw;
    }
    #wrapper {
        height: 75vh;
        margin-top: -10vh;
    }
    form {
        padding: 1vh 1.5%;
        
    }
    #chatbox{
        height: 62vh;
    }
}